body{
    background-color: #dae8fd;
}

.jumbotron{
    background-color: #f2921b;
    font-family: 'Rye', cursive;
    text-align: center;
}
.panel{
    background-color: #8e3025;
}
.btn-lg{
    border-radius: 50px;
background: #f2921b;
box-shadow:  20px 20px 60px #ce7c17, 
             -20px -20px 60px #ffa81f;
}

